.App-Center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-Center img {
  height: 100px;
}
body {
  height: 100vh;
  background-color: rgb(212, 80, 80);
}

.App-footer {
  padding: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}
